.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  width: 100vw;
  height: 92vh;
}

.topbar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top_left {
  width: 75%;
}

.login, .register {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_div, .left_div {
  flex-direction: column;
  width: 50vw;
  height: 92vh;
}

.form_input {
  width: 40vw;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
}

.form_input_div {
  flex-direction: column;
}

.form_label {
  position: relative;
  top: 15px;
  left: 0;
  margin-left: 15px;
  margin-top: -15px;
}

.form_header {
  font-size: 45px;
  font-weight: 800;
}

.form_button {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}

.error {
  font-size: 12px;
  color: red;
  padding: 15px;
  text-align: center;
}